html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size:100%;
    font: inherit;
    vertical-align: baseline;
}
html {height: 100%;


}

body {
    height: 100%;
    overflow-x:hidden;
        font-size: 0;
        background-color: #0079bf;
        font-family: Helvetica Neue;

}
ol, ul {list-style: none;}
* {
    margin: 0;
    padding: 0;
    outline: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:hover {text-decoration: none;}
@font-face {
    font-family:'Heavy';
    src:url('../fonts/HelveticaNeue-Heavy.ttf');
}
@font-face {
    font-family:'bold';
    src:url('../fonts/HelveticaNeue-Bold.ttf');
}
@font-face {
    font-family:'light';
    src:url('../fonts/HelveticaNeue-light.ttf');
}
@font-face {
    font-family:'medium';
    src:url('../fonts/HelveticaNeue-medium.ttf');
}
@font-face {
    font-family:'regular';
    src:url('../fonts/Helvetica-Regular.ttf');
}
@font-face {
    font-family:'helveticaneuecyr-medium';
    src:url('../fonts/helveticaneuecyr-medium.otf');
}
@font-face {
    font-family:'helveticaneuecyr-roman';
    src:url('../fonts/helveticaneuecyr-roman.otf');
}



.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {clear: both;}

.left {float:left;}
.right {float:right;}

.wrapper {
}
.header {
    background-color:#0067a3;
    padding:5px;

}
.boards {
        background: -webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
        background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
width: 91px;
height: 30px;
border-radius: 2px;
display: table;
margin-right: 8px;
}
.boards:hover{
     background: -webkit-linear-gradient(top,rgba(255,255,255,.4) 0,rgba(255,255,255,.3) 100%);
    background: linear-gradient(to bottom,rgba(255,255,255,.4) 0,rgba(255,255,255,.3) 100%);
}
.boards img{
    margin: 7px;
    margin-right: 6px;
}
.boards p {
     line-height: 30px;
    color: #fff;
    font-size: 14px;
    font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-weight: 700;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}

.search img {
        margin-top: 7px;
    margin-right: 6px;
    float: right;
}
input[name="search"] {
background-color:  rgb(76, 148, 191);
width: 180px;
height: 30px;
border-radius: 2px;
display: table;
border:none;
background-image: url(../img/search.png);
background-repeat: no-repeat;
background-position: 157px 7px;
}
input[name="search"]:hover {
background-color: #569ac2;
}
 
.create {
    width: 30px;
    height: 30px;
        background: -webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
        background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
    border-radius: 2px;
    padding: 8px;
    margin-right: 8px;
    cursor: pointer;

}
.create:hover {
     background: -webkit-linear-gradient(top,rgba(255,255,255,.4) 0,rgba(255,255,255,.3) 100%);
    background: linear-gradient(to bottom,rgba(255,255,255,.4) 0,rgba(255,255,255,.3) 100%);
}
.create:nth-child(1){
margin-right: 0;
margin-left: 8px;
padding: 7px;
    line-height: 30px;
}
.create:nth-child(2){
margin-right: 0;
margin-left: 8px;
padding: 7px;
    line-height: 30px;
}
.profile {
    border-radius: 2px;
    cursor: pointer;
}
.profile img {
    border-radius: 2px;
}
.name {
    margin-left:-1px;
    width: 120px;
    height: 30px;
        background: -webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
        background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
 border-radius: 2px;
    border-radius: 2px;
        display: table;

}
.name:hover{
  background: -webkit-linear-gradient(top,rgba(255,255,255,.4) 0,rgba(255,255,255,.3) 100%);
    background: linear-gradient(to bottom,rgba(255,255,255,.4) 0,rgba(255,255,255,.3) 100%);   
}
   

.name p {
     color: #fff;
    font-size: 14px;
    font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-weight: 700;
    display: table-cell;
    vertical-align: middle;
        text-align: center;
            line-height: 30px;
}
.rightt {
    margin-right: 3px;
}
.middle {
    background-image: url(../img/trello.png);
    height: 40px;
    width: 80px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -40px;
    opacity: 0.65;
    cursor: pointer;
    transition:0.2s;
}
.middle:hover {
    opacity: 1;
    transition:0.2s;

}

.header2 {
    height: 46px;
    margin-left: 8px;
    margin-right: 8px;
    display: block;
    position: relative;
    line-height: 46px;
}
.lefttt {
    height: 100%;
}
.lefttt > span {
font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 46px;
    color: #fff;
    padding: 5px 8px 5px 10px;
    margin-right: 4px;
    cursor: pointer;
    transition:0.2s;
}
.lefttt > span:hover {
     cursor: pointer;
    transition:0.2s;
    background-color: #006ba9;
    border-radius: 2px;
}
.star {
    background-image: url(../img/star.png);
    height: 12px;
    width: 12px;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 15px;
    vertical-align: middle;
    margin-top: -12px;
    background-position: 9px 9px;
    margin-right: 5px;
    border-radius: 2px;
    transition:0.2s;
}
.star:hover {
      cursor: pointer;
    transition:0.2s;
    background-color: #006ba9;
    border-radius: 2px;
}
.locknp{
    display: inline-block;
}
.lock {
    background-image: url(../img/lock.png);
    background-repeat: no-repeat;
    display: inline-block;
    padding: 12px;
    padding-bottom: 8px;
    padding-right: 8px;
    vertical-align: middle;
    margin-top: -12px;
    background-position: 9px 9px;
    margin-right: 5px;
    margin-left: -1px;
    border-radius: 2px;
    transition: 0.2s;
}
.lock:hover{
      cursor: pointer;
    transition:0.2s;
    background-color: #006ba9;
    border-radius: 2px;
}
.lock p {
    font: 12px "Helvetica Neue",Arial,Helvetica,sans-serif;
    color: #fff;
    margin-left: 18px;
    margin-top: -4px;
}

.righttt{
float: right;
    line-height: 0;
    padding: 5px 8px 8px 11px;
    margin-top: 8px;
    cursor: pointer;
}
.righttt:hover {
    background-color: #006ba9;
    border-radius: 2px;
}
.righttt > p:nth-child(1){
    font: 12px "Helvetica Neue",Arial,Helvetica,sans-serif;
    color: #fff;
    display: inline-block;
    margin-top: 0px;
    vertical-align: text-bottom;
    letter-spacing: 0.1px;
    font-weight: 700;
}
.righttt > p:nth-child(2){
    font: 12px "Helvetica Neue",Arial,Helvetica,sans-serif;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    text-decoration: underline;
}
.columns {
    margin-left: 10px;
        white-space: nowrap;
}
.column {
background-color: #e2e4e6;
    padding-right: 11px;
    padding-left: 9px;
    padding-top: 9px;
    padding-bottom: 3px;
    display: inline-block;
    border-radius: 3px;
    width: 270px;
    position: relative;
}
.column > p:nth-child(1) {
    font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
    color: #4d4d4d;
    font-weight: 600;
    margin-bottom: 9px;
    cursor: pointer;
    margin-left: 1px;
}
.addcard {
    font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
    display: block;
    padding-bottom: 9px;
    color: #8c8c8c;
    padding-top: 9px;
    padding-left: 10px;
    cursor: pointer;
    transition:0.1s;
}
.addcard:hover{
background-color: #cdd2d4;
color: #4d4d4d;
text-decoration: underline;
transition:0.1s;
}
.littlecolumn {
        margin-top: 6px;
        cursor: pointer;
}
.littlecolumn p:hover{
      background-color: #edeff0;
    background-image: url(../img/pen.png);
    background-repeat: no-repeat;
    background-position: 229px 10px;



}
.littlecolumn  p {
    padding-top: 7px;
    padding-bottom: 9px;
    padding-left: 8px;
    font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-weight: 400;
    color: #4d4d4d;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 3px;
    border-bottom: 1px solid #cfcfcf;
  
}
.columnwrap {
    display: inline-block;
    border-radius: 3px;
    width: 270px;
    position: relative;
    background-color: #e2e4e6;
    margin-right: 10px;
    margin-bottom: 10px;
}
.setting {
    cursor: pointer;
    border-radius: 2px;
    font: 12px "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-weight: 700;
    position: absolute;
    color: #999;
    top: 0;
    right: 0;
    margin: 4px;
    transition:0.1s;
}
.setting p {
    line-height: 0;
    padding: 12px 8px;
    padding-top: 10px;
    margin-top: 0px;
    letter-spacing: 1px;
    padding-bottom: 16px;
    padding-left: 6px;
}
.setting:hover{
    background-color: #cdd2d4;
    transition:0.1s;
    border-radius: 2px;
}
.addlist {
display: inline-block;
vertical-align: top;
    background: rgba(0,0,0,.12);
    border-radius: 3px;
    width: 270px;
    height: 40px;
    cursor: pointer;
       transition:0.2s;

}
.addlist:hover{
    background-color: #005586;
    transition:0.2s;
}
.addlist p {
        color: rgba(255,255,255,.7);
            font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
    line-height: 40px;
    margin-left: 11px;
}
@media only screen and (max-width: 750px) {
.boards{
    width: 0;

}
.boards p {
    font-size: 0;
}
input[name="search"]{
        width: 30px;
        background-position: 7px 7px;
}
.name {
    width: 0;
}
.name p {
    font-size: 0;
}


}
