html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size:100%;
    font: inherit;
    vertical-align: baseline;
}
html {height: 100%;


}
@font-face {
    font-family: 'opensans';
    src:url('../fonts/opensans.ttf');
}
body {
    height: 100%;
    overflow-x:hidden;
        background-color: #f9f9f9;
        font-family: opensans;
        padding-left: 153px;
         padding-right: 152px;

}
ol, ul {list-style: none;}
* {
    margin: 0;
    padding: 0;
    outline: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


a, a:hover {text-decoration: none;}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {clear: both;}

.left {float:left;}
.right {float:right;}

.wrapper {
background-color: #fff;
height: 100%;
width: 1060px;
margin: 0 auto;
    padding-left: 45px;
    padding-right: 45px;
}
.header {
    padding-top: 50px;

}
.logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;   
    width: 145px;
    height: 40px;
       margin-left: -1px;
    margin-bottom: 40px;
}
.menu {
  background:linear-gradient(to top, #444343, #5e5e5e);
  height: 40px;
  margin-bottom: 40px;
}
.menu  li{
      display: inline-block;
     

}
.menu a{
     color: #ebebeb;
      font-family: OpenSans;
      font-size: 14.67px;
}
.menu li:nth-child(1){
     padding-left: 24px;
      padding-right: 59px;
}
.menu li:nth-child(2){
     padding-left: 23px;
      padding-right: 23px;
         
}
.menu li:nth-child(3){
    padding-left: 58px;
    padding-right: 58px;
}
.menu li:nth-child(4){
     margin-left: 22px;
    margin-right: 22px;
}
.activeMenu{
      background:linear-gradient(to top, #2e2e2e, #4a4a4a);
       border-left: 1px solid #838383;
       border-right: 1px solid #838383;
  
}
.menu ul {
            line-height: 40px;

}
.goods {
    height: 240px;
    width: 240px;
    background-color: #fff;
    border:1px solid #dfdfdf;

}
.goods li:first-child{
border-top:none;

}
.goods li:last-child{

border-bottom:none;
}

.goods li {
        
        height: 40px;
        border-top:1px solid #dfdfdf;
}
.goods a {
     color: #656363;
        font-family: Times New Roman;
        font-size: 15px;
       line-height: 40px;
       margin-left: 24px;
}
.activeSide{
 background-color: #f9f9f9;
      padding-left: 36px;
}
